<section id="home" [ngStyle]="{backgroundImage:'url(assets/images/home-background.jpg)'}">
  <h1 class="mt-3" style="margin-left: 33%;">Akhil Maldoddy</h1>
  <div style="display: flex;">
    <h6 class="mt-3" style="margin-left: 33%;">Server Side :-</h6>
    <p style="margin-top: 1%; margin-left: 2%;">{{'' | translate}} <span class="serverSide"></span></p>
  </div>
  <div style="display: flex;">
    <h6 class="mt-3" style="margin-left: 33%;">Client Side :-</h6>
    <p style="margin-top: 1%; margin-left: 2%;">{{'' | translate}} <span class="clientSide"></span></p>
  </div>
  <div style="display: flex;">
    <h6 class="mt-3" style="margin-left: 33%;">DevOps :-</h6>
    <p style="margin-top: 1%; margin-left: 2%;">{{'' | translate}} <span class="devOps"></span></p>
  </div>
  <div style="display: flex;">
    <h6 class="mt-3" style="margin-left: 33%;">AI/ML :-</h6>
    <p style="margin-top: 1%; margin-left: 2%;">{{'' | translate}} <span class="aiMl"></span></p>
  </div>
  <div style="display: flex;">
    <h6 class="mt-3" style="margin-left: 33%;">Quantum Computing :-</h6>
    <p style="margin-top: 1%; margin-left: 2%;">{{'' | translate}} <span class="quantumComputing"></span></p>
  </div>
</section>
